<ion-header>
  <ion-toolbar>
    <ion-title>Reservas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vehicles"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="reservations-background">
  <div class="date-container">
    <div class="date-card">
      <ion-button (click)="previousDay()" fill="clear">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <div class="date-display" (click)="openDatePicker()">
        <span>{{ formattedDate }}</span>
      </div>

      <ion-button (click)="nextDay()" fill="clear">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="vehicle-list">
    <div *ngFor="let vehicle of vehicles" class="vehicle-card" (click)="toggleVehicle(vehicle)">
      <img [src]="getVehicleImage(vehicle.model)" alt="Vehicle Image" class="vehicle-image" />
      <div class="vehicle-details">
        <h2>{{ vehicle.model }}</h2>
        <p>{{ vehicle.licensePlate }}</p>
      </div>
      
      <!-- Detalles de reservas -->
      <div *ngIf="selectedVehicle === vehicle" class="reservations-details">
        <div class="reservations-row">
          <div *ngFor="let reservation of getReservationsForVehicle(vehicle.licensePlate)" 
               class="reservation-card" 
               [ngClass]="{'active-card': reservation.active, 'inactive-card': !reservation.active}">
            <p>
              <ion-icon name="calendar"></ion-icon>
              {{ formatReservationDate(reservation.startDate) }}
            </p>
            <p>
              <ion-icon name="calendar"></ion-icon> 
              {{ formatReservationDate(reservation.endDate) }}
            </p>
            <p>
              <i class="fa-solid fa-route" style="padding-right:4px;"></i>
              {{ reservation.estimatedKm }}km
            </p>
            <p>
              <ion-icon name="person"></ion-icon> 
              {{ reservation.userName }}
            </p>

            <!-- Botón para eliminar la reserva -->
            <ion-button (click)="deleteReservation(reservation.id)" fill="clear" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      
        <p *ngIf="getReservationsForVehicle(vehicle.licensePlate).length === 0">No hay reservas para este vehículo hasta ahora.</p>
      </div>
      
    </div>
  </div>
</ion-content>
