/* Fondo general */
.reservations-background {
  --background: none;
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

/* Contenedor de la fecha */
.date-container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

/* Tarjeta de fecha */
.date-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0;
  width: 300px;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.9);
}

.date-display {
  cursor: pointer;
  padding: 0 10px;
  font-size: 18px;
}

/* Lista de vehículos */
.vehicle-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Tarjeta de vehículo */
.vehicle-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  margin: 10px 0;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

/* Imagen de vehículo */
.vehicle-image {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

/* Detalles del vehículo */
.vehicle-details {
  flex-grow: 1;
}

/* Tarjeta de reserva */
.reservation-card {
  width: calc(50% - 10px); /* Dos tarjetas por fila con margen */
  height: 150px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 6px;
  margin: 5px; /* Margen entre las tarjetas */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estados de las tarjetas de reserva */
.active-card {
  background-color: #d4edda;
  border: 1px solid #28a745;
  padding: 8px; /* Reducir padding */
  border-radius: 8px;
}

.inactive-card {
  background-color: #f8d7da;
  border: 1px solid #dc3545;
  padding: 8px; /* Reducir padding */
  border-radius: 8px;
}

/* Estilo de los textos dentro de la tarjeta */
.reservation-card p {
  display: flex;
  align-items: center;
  margin: 2px 0; /* Reducir margen entre campos */
  font-size: 13px; /* Disminuir más el tamaño del texto */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-icon {
  margin-right: 4px; /* Reducir aún más el espacio entre icono y texto */
}

/* Fila de reservas */
.reservations-row {
  display: flex; /* Cambia a flexbox */
  flex-wrap: wrap; /* Permite que se ajusten a varias filas si es necesario */
  justify-content: space-between; /* Espacio entre las tarjetas */
  margin: 10px 0; /* Añade un margen vertical si es necesario */
}
