<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Reservar Vehículos</ion-title>
    <ion-buttons slot="end">
      <ion-button>Mis Reservas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let vehicle of vehicles">
        <ion-card class="vehicle-card" (click)="goToReservationForm(vehicle.licensePlate)">
          <div class="edit-icon-container">
            <ion-button fill="clear" (click)="editVehicle(vehicle); $event.stopPropagation()" class="edit-button">
              <i class="fa-solid fa-pen-to-square"></i>
            </ion-button>
          </div>
          <img [src]="getVehicleImage(vehicle.model)" alt="Vehicle">
          <div class="icons-container">
            <i class="fa-solid fa-truck-monster" [ngClass]="vehicle.isFourByFour ? 'icon-active' : 'icon-inactive'"></i>
            <i class="fa-solid fa-gas-pump" [ngClass]="vehicle.needsFuel ? 'icon-red' : 'icon-inactive'"></i>
            <i class="fa-solid fa-wrench" [ngClass]="vehicle.needsRepair ? 'icon-red' : 'icon-inactive'"></i>
          </div>
          <ion-card-header>
            <ion-card-title>{{ vehicle.model }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ vehicle.licensePlate }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
