/* Fondo personalizado con imagen */
ion-content {
    --background: none;
    background-image: url('../../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }
  
  /* Centrar el contenido de las tarjetas */
  .vehicle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .vehicle-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    object-fit: cover;
  }
  
  ion-card-title, 
  ion-card-content p {
    text-align: center;
  }
  
  /* Contenedor de los iconos */
  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  /* Estilo de los iconos */
  .vehicle-icon {
    font-size: 24px;
    margin: 0 10px;
  }
  
  /* Ajustar el tamaño de la imagen */
  ion-card img {
    max-width: 100%;
    height: auto;
  }

  .icons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .icons-container i {
    font-size: 24px;
    margin: 0 10px;
  }
  
  /* Estado activo para 4x4 */
  .icon-active {
    color: green;
  }
  
  /* Estado inactivo */
  .icon-inactive {
    color: grey;
  }
  
  /* Estado de gasolina baja (repostar) */
  .icon-red {
    color: red;
  }
  
  /* Estado de avería */
  .icon-yellow {
    color: yellow;
  }
  
  