<ion-content>
  <ion-card>
    <ion-card-content>

      <img class="user-image" src='assets/header.png' alt="User Image"/>

      <!-- Formulario de Login -->
      <form (submit)="login()">
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="actualUser.email" name="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="actualUser.password" name="password" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
