ion-content {
    background: url('/assets/bg.jpg') no-repeat center center fixed; /* Ajusta la ruta a tu imagen */
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    --background: transparent; /* Asegúrate de que el fondo sea transparente para que se vea la imagen */
    padding-top: 0;
  }
  
  ion-card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con menos transparencia */
    margin: 10px; /* Margen para separar las tarjetas */
  }
   
  ion-icon {
    font-size: 16px; /* Tamaño de los iconos */
    margin-right: 8px; /* Espaciado entre el icono y el texto */
  }
  
  ion-item {
    --background: transparent; /* Fondo transparente para los items */
    --ion-item-background: transparent; /* Fondo transparente para los items */
  }

    .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px; /* Espaciado entre las tarjetas */
    }

    .card-details {
    flex: 1;
    }

    .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    }

    .date-info {
    display: flex;
    align-items: center;
    }

    .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    }

    .button-container ion-button {
    margin-bottom: 5px;
    font-size: 24px; 
    }

    .custom-segment {
        --background: #f8f8f8; /* Fondo claro */
        --color-checked: #3880ff; /* Color cuando está seleccionado */
        --color-checked-active: #007aff; /* Color activo */
        --color: #000; /* Color de texto */
        --color-activated: #3880ff; /* Color del texto activo */
        margin: 0; /* Eliminar margen superior e inferior */
        border-radius: 8px; /* Bordes redondeados */
      }

    