<ion-header>
  <ion-toolbar>
    <ion-title>{{ incidence ? 'Editar Incidencia' : 'Añadir Incidencia' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="description" auto-grow="true"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de Incidencia</ion-label>
    <ion-select [(ngModel)]="incidenceType" interface="popover" placeholder="Seleccione un tipo">
      <ion-select-option value="Compra de equipos">Compra de equipos</ion-select-option>
      <ion-select-option value="Compra de software">Compra de software</ion-select-option>
      <ion-select-option value="Avería Equipo">Avería Equipo</ion-select-option>
      <ion-select-option value="Avería Software">Avería Software</ion-select-option>
      <ion-select-option value="Mantenimiento">Mantenimiento</ion-select-option>
      <ion-select-option value="Mantenimiento">Ciberseguridad</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Prioridad</ion-label>
    <ion-range
      min="1"
      max="3"
      step="1"
      snaps="true"
      ticks="true"
      [(ngModel)]="priority"
    >
      <ion-label slot="start">Baja</ion-label>
      <ion-label slot="end">Alta</ion-label>
      <ion-label slot="mid">Media</ion-label>
    </ion-range>
  </ion-item>

  <ion-button expand="full" (click)="confirm()">
    {{ incidence ? 'Guardar Cambios' : 'Añadir Incidencia' }}
  </ion-button>
</ion-content>
